# App
PORT=TEST_PORT
FRONTEND_ORIGIN=TEST_FRONTEND_ORIGIN
VITE_API_BASE=TEST_VITE_API_BASE

# MongoDB
MONGO_IMAGE=TEST_MONGO_IMAGE
MONGO_URI=TEST_MONGO_URI

# RabbitMQ
RABBITMQ_IMAGE=TEST_RABBITMQ_IMAGE
RABBITMQ_URL=TEST_RABBITMQ_URL
RABBITMQ_ASSET_QUEUE=TEST_RABBITMQ_ASSET_QUEUE
RABBITMQ_MANAGEMENT_HOST_PORT=TEST_RABBITMQ_MANAGEMENT_HOST_PORT
RABBITMQ_MANAGEMENT_CONTAINER_PORT=TEST_RABBITMQ_MANAGEMENT_CONTAINER_PORT

# MinIO
MINIO_IMAGE=TEST_MINIO_IMAGE
MINIO_ENDPOINT=TEST_MINIO_ENDPOINT
MINIO_PORT=TEST_MINIO_PORT
MINIO_USE_SSL=TEST_MINIO_USE_SSL
MINIO_ACCESS_KEY=TEST_MINIO_ACCESS_KEY
MINIO_SECRET_KEY=TEST_MINIO_SECRET_KEY
MINIO_BUCKET=TEST_MINIO_BUCKET
MINIO_PUBLIC_BASE_URL=TEST_MINIO_PUBLIC_BASE_URL
MINIO_DATA_DIR=TEST_MINIO_DATA_DIR
MINIO_CONSOLE_HOST_PORT=TEST_MINIO_CONSOLE_HOST_PORT
MINIO_CONSOLE_CONTAINER_PORT=TEST_MINIO_CONSOLE_CONTAINER_PORT

# Uploads
MAX_FILE_SIZE_BYTES=TEST_MAX_FILE_SIZE_BYTES
UPLOAD_TMP_DIR=TEST_UPLOAD_TMP_DIR

# Auth
JWT_SECRET=TEST_JWT_SECRET
JWT_EXPIRE=TEST_JWT_EXPIRE

# Nginx
NGINX_HOST_PORT=TEST_NGINX_HOST_PORT
NGINX_CONTAINER_PORT=TEST_NGINX_CONTAINER_PORT
